/* =========RESET========= */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul{
  list-style: none;
}
a{
  text-decoration: none;
}
/* =========BODY========= */

body{
  font-family: "Work Sans", sans-serif;
  background-color: rgb(244, 248, 250);
}
/* =========HEADER========= */
header{
  display: flex;
  align-items: center;
  width: 100%;
  border-bottom: 1px solid #e4e4e4;
  margin-bottom: 2rem;
  display: flex;
  box-shadow: 0px 0px 12px rgba(0,0,0,0.1);
  background-color: rgb(255, 255, 255);
}

.header h1 {
  font-style: italic;
  font-size: 25px;
  margin: 25px 0 25px 0;
}
.header img {
  display: flex;
  align-items: center;
  justify-content:center;
  height: 70px;
  margin-left: 25px;
}
/* =========CONTAINER========= */

.container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
}
.container h5{
  font-size: 16px;
    color: rgb(27, 49, 168);
    text-align: center;
    margin-bottom: 24px;
    font-weight: normal;
}
.container-boxes{
  border-radius: 8px;
  background-color: rgb(255, 255, 255);
  padding: 35px 40px 40px;
  box-shadow: rgb(30 42 50 / 8%) 0px 16px 32px;
}

.boxes{
  display: flex;
  margin-bottom: 30px;
}
.boxes h4{
  display: flex;
  margin-right: 10px;
  align-items: center;
}
.boxes input {
  border: 1px solid rgb(233, 238, 242);
  border-radius: 4px;
  position: relative;
  padding: 10px;
  outline: none;
}

.boxes button {
  background: #0000FF;
  color: whitesmoke;
  border: none;
  border-radius: 20px;
  width: 150px;
  margin-left: 10px;
  font-weight: 600;
  transition: background .2s;
  
}

.boxes button:hover{
  background: #1E90FF
}

.inpt-boxes{
  display: flex;
  flex-direction: row;
}
.inpt-boxes label{
  font-size: 14px;
  font-style: italic;
  font-weight: 600;
}

.total-input{
  width: 50%;
  margin-right: 16px;
  
  
}
.money-per-month-input{
  width: 50%;
}
.totalAmonth, .moneyMonth{
  border: 1px solid rgb(233, 238, 242);
  border-radius: 4px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
}
::-webkit-input-placeholder{
  font-size: 15px;
  
}
.totalAmonth input, .moneyMonth input {
    font-family: Rubik, sans-serif;
    border: none;
    font-weight: 500;
    font-size: 20px;
    color: rgb(77, 100, 117);
    width: 100%;
    padding: 15px 15px 15px 10px;
    outline: none;
}


.text-box {
  
  max-width: 605px;
  font-size: 13px;
  line-height: 16px;
  background-color: rgb(236, 236, 236);
  margin-top: 24px;
  padding: 24px 32px;
  border-radius: 4px;
}

.button {
  margin-top: 24px;
  text-align: center;
}

.button button{
  background: #0000FF;
  color: whitesmoke;
  border: none;
  border-radius: 20px;
  width: 320px;
  height: 50px;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.2s;
}

.button button:hover{
  background:#1E90FF;
  
}

.list-boxes{
  margin-top: 40px;
  border: 1px solid rgb(233, 238, 242);
  border-radius: 4px;
  padding: 15px;
}

.list-boxes p{
  margin: 15px;
  font-style: italic;
  font-weight: 600;
  font-size: 16px;
}

.task-list ul li{
  display: flex;
  justify-content: space-between;
  
}

.task-list ul li span{
  font-weight: bold;
  margin: 10px;
}

